.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  gap: 2rem;
  height: 100vh;
}

.logo {
  color: #1d9bf0;
  width: 3.75rem;
}

.signUpLink {
  font-size: 0.8rem;
  color: var(--blue-200);
}