# Ambiente virtual
backend/venv/

# Banco de dados local
backend/db.sqlite3

# Uploads de usuários
backend/media/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw

# Variáveis de ambiente
.env
*.env

# VS Code
.vscode/

# Logs
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Front-end
node_modules
dist
dist-ssr
*.local

# Editor
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
