# Ambiente virtual
backend/venv/

# Banco de dados local
backend/db.sqlite3

# Uploads de usuários
backend/media/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw

# Variáveis de ambiente
.env
*.env

# VS Code
.vscode/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db
