SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,rieshinoda.pythonanywhere.com
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://twitter-clone-steel-five.vercel.app
CSRF_TRUSTED_ORIGINS=http://localhost:5173,https://twitter-clone-steel-five.vercel.app