.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 0 4rem;
  
}

.logo {
  color: #1d9bf0;
  width: 1.5rem;
  margin-bottom: 1.5rem;
}

.menuItem {
  display: flex;
  gap: 1.375rem;
  align-items: start;
}

.linkText {
  font-size: 1.25rem;
  font-weight: normal;
  color: var(--font-text);
}

.menuItem.selected {
  font-weight: 700;
}

.userBox{
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.25rem;
  position: absolute;
  bottom: 2rem;
}

.avatar{
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}