.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  border-left: 1px solid var(--gray-200);
  border-right: 1px solid var(--gray-200);
  margin-bottom: 1rem;
}

.followList {
  width: 100%;
  margin-top: 1rem;
}

.followItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--gray-200);
}

.followItem div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.username {
  font-weight: 400;
  font-size: 1.1rem;
}

.avatar {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.followButton {
  background-color: var(--blue-200);
  width: 5rem;
  height: 2.25rem;
  padding: 0.5rem 0;
  border-radius: 1.25rem;
  border: none;
  color: var(--white);
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.followButton:hover {
  background-color: var(--blue-300);
}
