.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logoutButton {
  background-color: var(--blue-200);
  width: 5rem;
  height: 2.25rem;
  padding: 0.5rem 0;
  margin: 1rem 0rem 2rem 0rem;
  border-radius: 1.25rem;
  border: none;
  color: var(--white);
  font-weight: 700;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logoutButton:hover {
  background-color: var(--blue-300);
}


.trendsForYou {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  width: 80%;
  background-color: var(--gray-100);
  border-radius: 1.25rem;
}

.trendForYouItem p{
  font-size: 1.25rem;
}

.trendForYouItem small{
  color: var(--gray-300);
}